article{
   width: 60%;
    margin-left: 23%;
    background-color:#9fafbf ;
    height: 95vh;
    border-radius: 7%;
    position: re;
}
img{
width: 600px;
height: 300px;

margin-left: 10%;
margin-top: 19%;
}
